@import url("style.css");



body {
    background-color: rgb(66, 66, 66);
}

.container-main{
    justify-content: space-evenly;
}


.budget-mainTitle{
    color: var(--mainWhite)
}

.budget-feedback,
.expense-feedback{
    display: none;
}

.showItem {
    display: block;
}

.info-title {
  font-size: 1.5rem;
}
.budget {
  font-size: 1.6rem;
  color: var(--mainGreen);
}
.expense {
  font-size: 1.6rem;
  color: var(--mainRed);
}
.balance {
  font-size: 1.6rem;
}
.budget-icon,
.expense-icon,
.balance-icon {
  font-size: 2.5rem;
  color: var(--mainBlue);
}
.showRed {
  color: var(--mainRed);
}
.showGreen {
  color: var(--mainGreen);
}
.showBlack {
  color: var(--mainDark);
}