@import url("style.css");



body {
    background-color: rgb(66, 66, 66);
}

.budget-mainTitle{
    color: var(--mainWhite)
}

.budget-feedback,
.expense-feedback{
    display: none;
}

.showItem {
    display: block;
}