<%- include ('components/header.ejs') %>
			<!-- !NAV BAR-->
			<!-- HOME CONTENTS -->
			<div class="container">
				<div class="card">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<div class="content">
						<h2>1</h2>
						<h3>Programação</h3>
						<p>Estudos, projetos e bootcamps relacionados a programação</p>
						<a href="#">Bora Programar!</a>
					</div>
				</div>
				<div class="card">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<div class="content">
						<h2>2</h2>
						<h3>Integrações</h3>
						<p>
							Integração com API do G-mail para notificações principais
						</p>
						<a href="#">Bora integrar!</a>
					</div>
				</div>
				<div class="card">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<div class="content">
						<h2>3</h2>
						<h3>Minhas finanças</h3>
						<p>Controle de gastos, débitos a pagar, investimentos a fazer</p>
						<a href="budget.html">Para de gastar, meu!</a>
					</div>
				</div>
			</div>
			<!-- !HOME CONTENTS -->			
		</div>
		<%- include ('components/footer.ejs') %>
