doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Dashboard de Estudos
  link(rel='stylesheet' href='css/loading.css')
  // UIkit Files
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/css/uikit.min.css')
  script(src='https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit.min.js')
  script(src='https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit-icons.min.js')
body
    // Loading animation
    section#loading
      span.loader
        span(style='--i:1;')
        span(style='--i:2;')
        span(style='--i:3;')
        span(style='--i:4;')
        span(style='--i:5;')
        span(style='--i:6;')
        span(style='--i:7;')
        span(style='--i:8;')
        span(style='--i:9;')
        span(style='--i:10;')
        span(style='--i:11;')
        span(style='--i:12;')
        span(style='--i:13;')
        span(style='--i:14;')
        span(style='--i:15;')
        span(style='--i:16;')
        span(style='--i:17;')
        span(style='--i:18;')
        span(style='--i:19;')
        span(style='--i:20;')

    p safkjskfljsakflj
    script(src='js/jquery-3.5.1.js')
    script(src='js/functions.js')